<!DOCTYPE html>
<html>
    <head>       
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <title>Grancis' Personal Website</title>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/styles/card.css">
        <link rel="stylesheet" href="../static/styles/nav.css">
        <link rel="stylesheet" href="../static/styles/footer.css">
        <link rel="stylesheet" href="../static/styles/banner.css">
    </head>
    <body>
        <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                        <span class="sr-only">切换导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><embed id="brand" src="../static/image/Grancis.svg" type="image/svg+xml" /></a>
                </div>
    
                <div class="collapse navbar-collapse" id="example-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog">Thinking Series</a></li>
                        <li><a href="/coding">Coding&Explore</a></li>
                        <li><a href="/photography">Photography</a></li>
                        <li class="active"><a href="/about">About&GitHub</a></li>
                        <li><a id="user" href="/login_or_signin">/*Login*/</a></li>
                    </ul>
                </div>
            </div>
        </nav></body>
</html>