{% extends "__base__.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="../static/styles/card.css">
    <link rel="stylesheet" href="../static/styles/home.css">
    <script src="../static/jslib/home.js"></script>
{% endblock %}

    {% block nav_list %}
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/blog">Thinking Series</a></li>
    <li><a href="/coding">Coding&Explore</a></li>
    <li><a href="/photography">Photography</a></li>
    <li><a href="/about">About&GitHub</a></li>
    <li><a id="user" href={{href}}>{{name}}</a></li>
    {% endblock %}

{% block banner %}
    <img src="../static/image/banner.png" class="img-responsive" >
{% endblock %}
    
{% block container%}
{% if news!='' %}
<div id="page_news" class="col-xs-8 col-xs-offset-2">
    <p>{{news}}</p>
</div>
{% endif %}
<div class="profile-box">
        <div class="container">
            <div class="col-md-6">
                <img id="img-figure" src="../static/image/figure.png" class="img-responsive">
            </div>
            <div class="col-md-6 " id="introduction">
                <h1>“不去试试怎么知道不行”</h1>
                <p id="1">来自广西柳州，啊，一座美丽、舒适的城市...</p>
                <p>我叫韦振朝，叫我<strong>格朗西斯</strong>吧...</p>
                <p>现就读于四川大学...</p>
                <p>自学编程，web前端，Python，java，MATLAB也会一些,路还很长...</p>
                <p>摄影，视频制作，好好玩啊，可单反好贵...</p>
                <p>文学？没有，偶尔写些胡思乱想的东西罢了，万一成为马克思了呢...</p>
                <p>... ...</p>
            </div>
        </div>
        </div>
    </div>
    
    <div class="container content-box">
            <div class="col-md-4 " >
                <div class="card" id="blogCard" onclick="blogClick()">
                    <div class="card-header">
                        <div class="slide">
                            <div class="overView"><img id="svg-blog" src="../static/image/blog.svg" /></div>
                        </div>
                        文
                    </div>
                    <div class="card-content">
                        >>科技杂谈，实事杂谈。表达所想也是一种乐趣
                    </div>
                </div>
            </div>
            <div class="col-md-4 " >
                <div class="card" id="codingCard" onclick="codingClick()">
                    <div class="card-header">
                        <div class="slide">
                            <div class="overView"><img id="svg-code" src="../static/image/code.svg" /></div>
                        </div>
                        Coding
                    </div>
                    <div class="card-content">>>Coding过程中一些经验分享，在探索未知中进步</div>
                </div>
            </div>
            <div class="col-md-4 " >
                <div class="card" id="photographyCard" onclick="photographyClick()">
                    
                    <div class="card-header">
                        <div class="slide">
                            <div class="overView"><img id="svg-camera" src="../static/image/camera.svg" /></div>
                        </div>
                        映
                    </div>
                    <div class="card-content">>>和伙伴们做些视频，带着小黑拍点东西</div>
                </div>
            </div>  
    </div>
{% endblock %}