<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login to Grancis' web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/styles/login.css" />
    <script src="../static/jslib/login.js"></script>
</head>
<body>
    <div class="container">
        <div class="col-md-4 col-md-offset-4 form-box" id="register-box">
            <embed class="brand" src="../static/image/Grancis.svg" type="image/svg+xml" />
            <form role="form" id="register-form" method="POST" action="javascript:register()">
                <div class="form-group">
                    <label for="name">name:</label>
                    <input type="text" class="form-control" id="r-name" name="r-name" placeholder="昵称">
                </div>
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="text" class="form-control" id="r-email" name="r-email" placeholder="your-name@example.com">
                </div>
                <div class="form-group">
                    <label for="passwrd:">password:</label>
                    <input type="text" class="form-control" id="r-passwrd" name="r-passwrd" placeholder="输入密码，至少6位字符">
                </div>
                <div class="form-group">
                    <label for="comfirm-password:">comfirm password:</label>
                    <input type="text" class="form-control" id="r-com-passwrd" name="r-com-passwrd" placeholder="确认你的密码">
                </div>
                <div class="form-error-box" id="r-form-error">
                    
                </div>
                <button type="submit" class="btn btn-info col-xs-4 col-xs-offset-4">注册</button>
            </form>
            <div class="col-md-12 col-xs-12 change-box" id="change-to-login">
                <hr>
                <p>已有账号？<a href="javascript:change_to_login()">登录</a></p>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-4 form-box" id="login-box">
            <embed class="brand" src="../static/image/Grancis.svg" type="image/svg+xml" />
            <form role="form" id="login-form" method="POST" action="javascript:login()">
                <div class="form-group">
                    <label for="email">email:</label>
                    <input type="text" class="form-control" id="l-email" name="l-email" placeholder="your-name@example.con">
                </div>
                <div class="form-group">
                    <label for="password">password:</label>
                    <input type="text" class="form-control" id="l-passwrd" name="l-passwrd" placeholder="输入密码">
                </div>
                <div class="form-error-box" id="l-form-error">
                    
                </div>
                <button class="btn btn-info col-xs-4 col-xs-offset-4" type="submit">登录</button> 
            </form>
            <div class="col-md-12 col-xs-12 change-box" id="change-to-register">
                <hr>
                <p>还没有账号？<a href="javascript:change_to_register()">注册</a></p>
            </div>
        </div>
    </div>
</body>
</html>