{% extends "__base__.html" %}

{% block head %}
    {{super()}}
    <style>
        #container{
            margin-top: 100px;
        }
    </style>
    <script type="text/javascript">
        
        function deleteUser(obj){
            id=$(obj).attr('id');
            doAjax(id);
        }
        
        function doAjax(id){
            $.ajax({
                type:"post",
                dataType:"json",
                url:"/manage/api/delete_user",
                data:{
                    "id":id,
                },
                success: function(rs){
                    error=rs.error
                    if (error=='none'){
                        user=rs.user;
                        alert("Delete: "+user.content+"\n"+user.user_name+"\nsuccessfully!");
                        window.location.reload();
                    }
                    else{alert(error);}
                },
                error: function (e){
                    alert("check the console!");
                }
            })
        }

        function creatItem(id,user_name,email,create_at){
            tr=$('<tr></tr>');
            t_user=$('<td>'+user_name+'</td>');
            t_email=$('<td>'+email+'</td>');
            t_date=$('<td>'+create_at+'</td>');
            t_option=$('<td><button class="btn btn-danger" onclick="deleteUser(this)" id="'+id+'"'+'>'+'删除</button></td>')

            $(tr).append(t_user);
            $(tr).append(t_email);
            $(tr).append(t_date);
            $(tr).append(t_option)

            return $(tr)
        }

        $(document).ready(function () {
            $.ajax({
                type:'get',
                url:'/manage/api/users',
                dataType:'json',
                data:{},
                success: function(rs){
                    box_list=$("#box-list");
                    $(box_list).children().remove();
                    $.each(rs.users,function(i,obj){
                        item=creatItem(obj.id,obj.name,obj.email,obj.create_at)
                        $(box_list).append(item);
                    })
                }
            })
        });
    </script>
{% endblock %}

{% block nav_list %}
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Thinking Series</a></li>
    <li><a href="/coding">Coding&Explore</a></li>
    <li><a href="/photography">Photography</a></li>
    <li><a href="/about">About&GitHub</a></li>
    <li><a id="user" href={{href}}>{{name}}</a></li>
{% endblock %}

{% block container %}
    <div class="container" id="container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>email</th>
                        <th>Date</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tbody id="box-list">
                <tr>
                    <td>格朗西斯</td>
                    <td>your-name@example.com</td>
                    <td>2天前</td>
                    <td><button class="btn btn-danger" id="comment_id" onclick="deleteComment(this)">删除</button></td>
                </tr>

                <tr>
                    <td>格朗西斯</td>
                    <td>your-name@example.com</td>
                    <td>2天前</td>
                    <td><button class="btn btn-danger" id="comment_id" onclick="deleteComment(this)">删除</button></td>
                </tr>
                </tbody>
                
            </table>
        </div>
    </div>
{% endblock %}