.card{
    width: 60%;
    border: solid 1px rgba(158, 157, 157, 0.918);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(
        0, 0, 0, 0.19);
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.card .card-header{
    font-size: 40px;
    padding: 60px;
    color:white;
}
.card .card-content{
    padding: 10px;
}

