.banner{
    margin-top: 30px;
}
.block{
    margin-top:40px;
    opacity: 0;
    transform: translateY(-50px);
    transition: all;
    transition-duration: 0.5s;
    cursor: pointer;
}
.icon{
    transition: transform;
    transition-duration: 0.5s;
}
.icon img{
    width: 40%;
    margin: 0 auto;
}
.block .text{
    text-align: center;
    font-size: 24px;
    padding: 6px;
}
.block:hover .icon{
    transform: scale(1.2,1.2)
}

@media screen and (max-width:445px){
    .list-date{
        display: none;
    }
    .banner{
        margin-top: 50px;
    }
    #icon-box{
        margin-top: -20px;
        margin-bottom: -20px;
    }
}